.App {
  text-align: center;
}
.header{
  background-color: lightskyblue;
  width: 100vw;
  height: 125px;
  margin-top: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 35px ;
}
.index{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
div {
  background-color: lightgray;
  height: 100%;
}
.text{
  margin-left: 70px;
}
 
.names{
  font-size: 55px; 
  }
  h2 {
    display: inline-flex;
  
  }
  h3 {
    display: inline-flex;
    
  }
  h4 {
    display: inline-flex;
    font-size: 20px;
  }
  .span{
    font-size: 25px;
  }
.body {
  box-sizing: content-box;
  background-color: black;
  width: 100%;
  height: 100%;
}
.swipe {
  display: flex;
  justify-content: space-between;
}
button{
  color:white;
  background: transparent;
  overflow: hidden;
  border: none;
  font-size: 20px;
}